*{
    margin: 0;padding: 0;
 }
header #nav-bar{
    width: 100%;height: 92px;background-color: #ffffff;
}
#nav-bar .nav-container{
    display: flex;justify-content: space-between;padding: 16px 120px;align-items: center;
        
 }
.logo{
    width: 139px;height: 60px;
 }
.nav-container .list-items{
    list-style: none;display: flex;gap: 32px;
 }
.nav-container .list-items a{
    text-decoration: none;color: black;font-weight: 500;
 }
.nav-container .list-items a:hover{
        cursor: pointer;color: #30B868;
 }
 .button{
     width: 164px;height: 44px;background-color: #30B868;border-radius: 4px;border: none;font-weight: 600;
  }
.button a{
    text-decoration: none;color: #ffffff;
 }
.button a:hover{
     cursor: pointer;color: black;
 } 


#backgrond-image{
    width: 100%; background-image: url('../images/hero-bg.png');background-size: cover;background-repeat: no-repeat;height: 700px;
}
.section-container{ border: 1px solid rgb(33, 30, 30);}

.section-container .container-items{
    justify-items: center;margin-top: 100px;
}
.section-container .container-items .access-button button{
    width: 229px;height: 35px;border-radius: 20px;color: #30B868;
   font-weight: 500;font-size: 16px;margin-bottom:20px ;border-style: none;
}
.access-button button .btn-space{
    padding-left: 10px;}
.access-button button,a{
    text-decoration: none;color: #30B868;}
.access-button button,a:hover{
    cursor: pointer;}
.section-container .container-text h1{
    text-align: center;font-weight: 700;font-size: 72px;color: #FFFFFF;margin-bottom: 14px;
}
.section-container .container-text .title-color{
    color: #30B868;
}
.section-container .container-text p{
    color: #FFFFFF;font-size: 18px;font-weight: 400;line-height: 24px;text-align: center;margin-bottom: 20px;
}

.btn-1 .arrow{
  margin-left: 8px;}
.btn-1{
   width: 251px;height: 52px;padding: 12px 12px;font-size: 16px;font-weight: 600;align-items: center;border-radius: 6px; border-style: none;background-color: #30B868;}
.btn-1 a{color: #FFFFFF;display: flex;}

.btn-2{
height: 52px;width: 198px;background-color: transparent;border-radius: 6px;border: 1px solid rgba(255, 255, 255, 1);font-size: 16px;font-weight: 600;text-align: left;padding: 16px 16px;color: #FFFFFF;
}
.btn-2 i{
    margin-right: 8px;
}
/* deetail secetion design */

#details{
    max-width: 100%;max-height: 448px;padding-top: 50px ;background-color: #f0f3f7;
}
#details .details-container{
    width: 1360px;max-width: 100%;max-height: 448px;margin: 0 auto;
}
#details .details-container .details-headings{
    text-align: center;margin: 0 auto;
}
#details .details-container .details-headings h3{
    font-style: bold;font-size: 48px;margin-bottom: 16px;color: #001931;
}
#details .details-container .details-headings p{
    font-size: 16px;font-weight: 400;color: #627382;margin-bottom: 44px;
}
#details .details-container .details-box{
    display: flex;gap: 24px;text-align: center;
}
.details-box .box-card{
    padding: 24px 24px;border-radius: 8px;
box-shadow: 25px 0px 8px 0px rgba(0, 0, 0, 0.06);
background: rgba(255, 255, 255, 1);
}
.details-box .box-card img{
   width: 60px;height: 60px; background-color: #f95555;border-radius: 50%;margin-bottom: 16px;
   color: #FFFFFF;;

}
.details-box .box-card h4{
    font-size: 24px;font-weight: 600;line-height: 29px;text-align: center; margin-bottom: 16px;color: #001931;
}
.details-box .box-card p{
    font-weight: 400;line-height: 20px;color: #627382;
}
/*solution section css*/
#solution{width:100%;max-height: 840px;}
#solution .solution-content{
    margin: 120px 120px;display: flex;align-items: center;justify-content: space-between;
}
#solution .solution-content .solution-content-text{
    width: 700px;height: 396px;text-align: left;
}
.solution-content-text h4{
    font-size: 16px;font-weight: 500;line-height: 20px;color: #30B868;margin-bottom: 16px;
}
.solution-content-text h3{
    font-size: 48px;font-weight: 700;line-height: 58px;color: #001931;margin-bottom: 20px;
}
.solution-content-text p{
    font-weight: 400;line-height: 20px;color: #627382;
}
.solution-content-text .pragraph{
        margin-bottom: 20px;
}
.solution-content-text .icon-text p{
    display: flex;gap: 5px;color: #001931;font-weight: 800px;line-height: 20px;font-size: 17px;padding-bottom: 5px;
}
/*think section design*/
#think{
    width: 100%;height:480px;
}
#think .think-container{
background-color: #dbdfe2;height: 384px;width: 1360px;margin: 0 auto;text-align: center;
}
.h-cont-items{
padding: 80px;
}
.h-cont-items h3{
    font-size: 40px;font-weight: 700px;line-height: 48px;color:#001931;margin-bottom: 20px;
}
.h-cont-items p{
    color: #627382;font-weight: 400;margin-bottom: 18px;
}
.h-cont-items button{margin-bottom: 10px;}
#think .think-container button{width: 194px;}




