*{
    margin: 0;padding: 0;
 }
header #nav-bar{
    width: 100%;height: 92px;background-color: #ffffff;
}
#nav-bar .nav-container{
    display: flex;justify-content: space-between;padding: 16px 120px;align-items: center;
        
 }
.logo{
    width: 139px;height: 60px;
 }
.nav-container .list-items{
    list-style: none;display: flex;gap: 32px;
 }
.nav-container .list-items a{
    text-decoration: none;color: black;font-weight: 500;
 }
.nav-container .list-items a:hover{
        cursor: pointer;color: #30B868;
 }
 .button{
     width: 164px;height: 44px;background-color: #30B868;border-radius: 4px;border: none;font-weight: 600;
  }
.button a{
    text-decoration: none;color: #ffffff;
 }
.button a:hover{
     cursor: pointer;color: black;
 } 


#backgrond-image{
    width: 100%; background-image: url('../images/hero-bg.png');background-size: cover;background-repeat: no-repeat;height: 700px;
}
.section-container{ border: 1px solid rgb(33, 30, 30);}

.section-container .container-items{
    justify-items: center;margin-top: 100px;
}
.section-container .container-items .access-button button{
    width: 229px;height: 35px;border-radius: 20px;color: #30B868;
   font-weight: 500;font-size: 16px;margin-bottom:20px ;border-style: none;
}
.access-button button .btn-space{
    padding-left: 10px;}
.access-button button,a{
    text-decoration: none;color: #30B868;}
.access-button button,a:hover{
    cursor: pointer;}
.section-container .container-text h1{
    text-align: center;font-weight: 700;font-size: 72px;color: #FFFFFF;margin-bottom: 14px;
}
.section-container .container-text .title-color{
    color: #30B868;
}
.section-container .container-text p{
    color: #FFFFFF;font-size: 18px;font-weight: 400;line-height: 24px;text-align: center;margin-bottom: 20px;
}

.btn-1 .arrow{
  margin-left: 8px;}
.btn-1{
   width: 251px;height: 52px;padding: 12px 12px;font-size: 16px;font-weight: 600;align-items: center;border-radius: 6px; border-style: none;background-color: #30B868;}
.btn-1 a{color: #FFFFFF;display: flex;}

.btn-2{
height: 52px;width: 198px;background-color: transparent;border-radius: 6px;border: 1px solid rgba(255, 255, 255, 1);font-size: 16px;font-weight: 600;text-align: left;padding: 16px 16px;color: #FFFFFF;
}
.btn-2 i{
    margin-right: 8px;
}
