*{
    margin: 0;padding: 0;
 }
header #nav-bar{
    width: 100%;height: 92px;background-color: #ffffff;
}
#nav-bar .nav-container{
    display: flex;justify-content: space-between;padding: 16px 120px;align-items: center;
        
 }
.logo{
    width: 139px;height: 60px;
 }
.nav-container .list-items{
    list-style: none;display: flex;gap: 32px;
 }
.nav-container .list-items a{
    text-decoration: none;color: black;font-weight: 500;
 }
.nav-container .list-items a:hover{
        cursor: pointer;color: #30B868;
 }
 .button{
     width: 164px;height: 44px;background-color: #30B868;border-radius: 4px;border: none;font-weight: 600;
  }
.button a{
    text-decoration: none;color: #ffffff;
 }
.button a:hover{
     cursor: pointer;color: black;
 } 